@import"_mixin.scss";
@import"_responsive";
@import "_toys";

// <---------HEader Start------------>
#header {
    background-color: transparent;
    // height: 100%;
    width: 100%;
    padding: 15px 10px;
    position: relative;
    position: absolute;
    z-index: 99999;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.35);

    .logo {
        width: 20%;

        img {
            max-width: 300px;

        }
    }

    .bars {
        display: none;
    }

    // <---Drop Down menu Start--->
    .menu {
        width: 60%;


        ul {
            height: 100%;

            // <--- Home start--->
            .home {
                position: relative;
                transition: 1s all;

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: -5%;
                    width: 220px;
                    height: 430px;
                    background-color: #ffff;
                    text-align: start;
                    padding: 10px 10px;


                    li {
                        padding: 8px;

                        a {
                            color: #A8A8A8;
                            display: block;
                            font-size: 17px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 400;
                            padding: 0%;
                            letter-spacing: 1px;
                            transition: 500ms all;

                            &:hover {
                                color: $narinci
                            }

                        }
                    }
                }
            }

            // <---Home end--->

            // <-----SHOP Start---->
            .shop {
                &:hover {
                    .big-menu {
                        opacity: 1;
                        visibility: visible;
                    }

                }

                .big-menu {
                    opacity: 0;
                    visibility: hidden;
                    transition: 500ms all;

                    width: 96%;
                    left: 2%;
                    top: 100%;
                    height: 300px;
                    background-color: #ffff;
                    position: absolute;

                    .text-head {
                        padding-bottom: 20px;
                        position: relative;

                        &::before {
                            content: "";
                            width: 50px;
                            height: 1px;
                            background-color: $narinci;
                            position: absolute;
                            bottom: 30%;
                            left: 0%;


                        }

                        a {
                            font-size: 20px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 600;
                            color: #2A2B2C;
                        }

                    }

                    li {
                        padding: 5px;

                        a {
                            color: #A8A8A8;
                            transition: 500ms all;

                            &:hover {
                                color: $narinci;
                            }
                        }
                    }

                    .litle-menu-4 {
                        img {
                            width: 100%;
                            border-radius: 4px;

                        }
                    }
                }
            }

            // <----Shop end--->
            // <----Collect Start
            .collect {

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                ul {
                    position: absolute;
                    top: 100%;
                    left: 2%;
                    width: 95%;
                    height: 300px;
                    background-color: #ffff;
                    opacity: 0;
                    visibility: hidden;
                    transition: 500ms all;

                    img {
                        width: 100%;
                        // z-index: 999999999999;
                        border-radius: 5px;
                        margin-top: 20px;
                        cursor: pointer;
                    }

                    p {
                        padding: 10px 0;
                        font-size: 17px;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: bold;
                        color: $boz;
                        cursor: pointer;
                        transition: 0.1s ease-in;

                        &:hover {
                            color: $narinci;
                        }
                    }


                }
            }

            // <---Collect End

            // <----Blog Start---->
            .blog {
                position: relative;
                transition: 1s all;

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: -5%;
                    width: 220px;
                    height: 220px;
                    background-color: #ffff;
                    text-align: start;
                    padding: 10px 10px;


                    li {
                        padding: 8px;

                        a {
                            color: #A8A8A8;
                            display: block;
                            font-size: 17px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 400;
                            padding: 0%;
                            letter-spacing: 1px;
                            transition: 500ms all;

                            &:hover {
                                color: $narinci
                            }

                        }
                    }
                }
            }

            // <----Blog end


            // <----Page Start---->
            .page {
                position: relative;
                transition: 500ms all;

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: -5%;
                    width: 220px;
                    height: 220px;
                    background-color: #ffff;
                    text-align: start;
                    padding: 10px 10px;


                    li {
                        padding: 8px;

                        a {
                            color: #A8A8A8;
                            display: block;
                            font-size: 17px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 400;
                            padding: 0%;
                            letter-spacing: 1px;
                            transition: 500ms all;

                            &:hover {
                                color: $narinci
                            }

                        }
                    }
                }
            }

            // <----Page end------>


            li {
                padding: 15px 0;


                a {
                    display: inline-block;
                    color: #ffff;
                    text-decoration: none;
                    margin-right: 40px;
                    font-size: 18px;

                }

            }
        }
    }

    .contact {
        width: 20%;

        i {
            color: #ffff;
            padding: 11px;
            font-size: 20px;


        }

        .shopping-bag {
            position: relative;

            .shop-0 {
                position: absolute;
                top: 0%;
                right: 0%;

                span {
                    padding: 2px 4px;
                    border-radius: 50%;
                    background-color: $narinci;
                    font-size: 10px;
                    color: #ffff;
                }
            }
        }
    }
}

// <------------Header End------------>



// <-----------Footer Satrt --------->
#footer {
    width: 100%;
    // height: 100vh;
    // position: relative;          
    background-image: url(https://cdn.shopify.com/s/files/1/0016/2915/9471/files/bg-2_1512x.jpg?v=1626947531);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;

    // <-------Footer _TOP start
    .top-footer {
        color: #ffff;
        padding: 30px 0;

        .left-top {
            border-right: 3px solid $narinci-aciq;

            h4 {
                color: $narinci-aciq;
                font-size: 30px;
            }
        }

        .right-top {
            position: relative;
            width: 100%;


            .email {
                width: 100%;
                height: 50px;
                border-radius: 30px;
                color: #ffff;
                display: flex;
                padding: 30px 10px;
                justify-content: space-between;
                align-items: center;
                background-color: $tund-boz;


                input {
                    border: none;
                    background-color: transparent;
                    width: 100%;
                    color: #ffff;
                    outline: none;
                }

                i {
                    color: #ffff;
                    font-size: 20px;
                    width: 90px;
                    height: 40px;
                    background-color: $narinci-aciq;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }

            // .latter {
            //     position: absolute;
            //     top: 11%;
            //     right: -15%;
            //     width: 90px;
            //     height: 40px;
            //     background-color: $narinci-aciq;
            //     line-height: 40px;
            //     text-align: center;
            //     border-radius: 30px;
            //     cursor: pointer;


            // }
        }
    }

    // <-----------Footer TOP ENd---------->
    // <----Midle Footer start--->
    .midle-footer {

        color: #ffff;

        //    <----Petio--->
        .petio {

            li {
                margin-top: 20px;

                p {
                    color: $boz;
                    font-size: 17px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


                    a {
                        color: $narinci-aciq;
                    }
                }


            }

            .marker {
                i {
                    color: $narinci-aciq;
                    padding-right: 10px;
                    font-size: 20px;
                }

                span {
                    font-size: 19px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: bold;
                    margin-left: 10px;


                }
            }

            .sosial {
                // padding: 20px 0;
                display: flex;
                width: 200px;
                justify-content: space-around;

                i {
                    // padding: 20px 0;
                    // padding-right: 20px;
                    font-size: 20px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    color: black;
                    background-color: #ffff;
                    cursor: pointer;
                    transition: 500ms all;

                    &:hover {
                        background-color: $narinci-aciq;
                        color: #ffff;
                    }
                }
            }




        }

        //    <----Petio--->
        .corporate {

            ul {
                .first-text {
                    padding-bottom: 15px;

                    i {
                        font-size: 20px;
                        display: none;
                    }

                    a {
                        color: #ffff;
                        font-size: 20px;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: 500;

                    }
                }

                li {
                    padding: 6px 0;

                    a {
                        color: $boz;
                        font-size: 18px;
                        transition: 500ms ease;

                        &:hover {
                            color: $narinci-aciq;

                        }

                    }
                }
            }
        }


    }

    hr {
        color: rgba(255, 255, 255, 0.467);
    }

    // <----Midle Footer end--->
    .bottom-footer {
        .left-bottom {
            p {
                color: $boz;
                font-size: 18px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: lighter;
            }
        }
    }

}

























@media (max-width:567px) {
    #header {
        height: 100%;

        .bars {
            display: block;
            order: -1;
        }

        .menu {
            display: none;
        }
    }

    #footer {
        height: 100%;

        // width: 100%;
        .top-footer {
            border: none;
            margin-top: 40px;

            .left-top {
                border: none;
            }

            .right-top {
                .latter {
                    left: 47%;
                }
            }
        }

        .midle-footer {
            .corporate {
                .first-text {
                    i {
                        display: block;
                    }
                }

                ul {
                    li {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width:567px) and (max-width:992px) {
    #header {
        height: 100%;

        .bars {
            display: block;
            order: -1;
            color: rgba(0, 0, 0, 0.713);
        }

        .menu {
            display: none;
        }
    }

    #footer {
        height: 100%;

        // width: 100%;
        .top-footer {

            .left-top {
                border: none;
            }

            .right-top {
                .email {
                    input {
                        width: 200px;
                    }
                }

                .latter {
                    left: 47%;
                }
            }
        }

        // .midle-footer{

        // }
    }
}
@media(min-width:992px) and (max-width:1200px){
    
}